langgraph
langgraph-prebuilt
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core
langchain==0.3.27
langchain-openai
langgraph-cli[inmem]
pyaudio
numpy
chainlit
rapidfuzz
pydantic
