langgraph
langgraph-prebuilt
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core
langchain==0.3.27
langchain-openai
notebook
tavily-python
wikipedia
trustcall
langgraph-cli[inmem]
transformers
accelerate
torch
pyaudio
numpy
chainlit
rapidfuzz
# wave